

.show-bg-btn {
    position: fixed;
    right: 0;
    top: 150px;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color:#005191;
    z-index: 999;
}

.bg {
    position: absolute;
    width: 100%;
    opacity: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    z-index: -2;
}

.bg img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
}


.box-grid {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

.dn {
    display: none !important;
}

.vh {
    visibility: hidden;
}

.box {
    height: 10000px;
    background: #000;
    opacity: 0.1;
}