html
	head
	body
		footer.footer
			.container
				.row
					.footer__second-nav-wrap.col-lg-3
						nav.second-nav
							h3.second-nav__title.footer__title quick links
							ul.second-nav__list
								li.second-nav__list-item
									a.second-nav__link home
								li.second-nav__list-item
									a.second-nav__link gallery
								li.second-nav__list-item
									a.second-nav__link home
								li.second-nav__list-item
									a.second-nav__link gallery
								li.second-nav__list-item
									a.second-nav__link home
								li.second-nav__list-item
									a.second-nav__link gallery
								li.second-nav__list-item
									a.second-nav__link home
								li.second-nav__list-item
									a.second-nav__link gallery
								li.second-nav__list-item
									a.second-nav__link home
								li.second-nav__list-item
									a.second-nav__link gallery
					.footer__gallery-wrap.col-lg-3.col-lg-offset-1
						h3.gallery__title.footer__title our gallery
						.gallery
							a.gallery__img-link(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg', title='The Cleaner')
								img.gallery__img-thumbnail(src='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg', alt='', role='presentation')
							a.gallery__img-link(href='http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg', title='Winter Dance')
								img.gallery__img-thumbnail(src='http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg', alt='', role='presentation')
							a.gallery__img-link(href='http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg', title='The Uninvited Guest')
								img.gallery__img-thumbnail(src='http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg', alt='', role='presentation')
							a.gallery__img-link(href='http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg', title='Oh no, not again!')
								img.gallery__img-thumbnail(src='http://farm9.staticflickr.com/8383/8563475581_df05e9906d_s.jpg', alt='', role='presentation')
							a.gallery__img-link(href='http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg', title='Swan Lake')
								img.gallery__img-thumbnail(src='http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_s.jpg', alt='', role='presentation')
							a.gallery__img-link(href='http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_b.jpg', title='The Shake')
								img.gallery__img-thumbnail(src='http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_s.jpg', alt='', role='presentation')
					.footer__about-wrap.col-lg-4.col-lg-offset-1
						.about
							.about__title.footer__title what we do
							.about__content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo molestias laudantium quibusdam, neque quis. Maxime facere tempora,
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur laudantium nisi odio quis officiis asperiores
							.about__author - Booking Company
			.footer__panel
				.footer__copyright Copyright
				.footer__company-info-wrap
					a.footer__company-info.link Company Informations
				.footer__policy-wrap
					a.footer__policy.link Priveacy Policy